
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Index</h2>
@HttpContext.Current.User.Identity.GetUserName()       @*IsInRole("Admin")*@ 
@HttpContext.Current.User.Identity.IsAuthenticated
